<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>quantiom rat</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/rg-1.1.2/rr-1.2.7/sp-1.1.1/datatables.min.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-dark.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>