<nav class="navbar fixed-top navbar-expand-lg pl-4">
    <a class="navbar-brand font-weight-bold" href="/panel/clients">quantiom rat</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/panel/clients">home</a>
            <a class="nav-item nav-link" href="/panel/clients">clients</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/panel/logout">logout</a>
        </div>
    </div>
</nav>
