<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head.ejs") %>
    <body>
        <div class="container-fluid h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column" style="width: 50%">
                    <h1 class="text align-self-center">Register</h1>
                    <br />
                    <div class="d-flex justify-content-center bd-highlight mb-5">
                        <form action="./register" method="POST" style="width: 25%">
                            <% if (fail) { %>
                            <div class="alert alert-warning alert-danger fade show" role="alert">
                                <strong>Error:</strong> <a id="errorAlert"></a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <% } %>
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input
                                    type="username"
                                    name="username"
                                    class="form-control"
                                    id="inputUsername"
                                    aria-describedby="usernameHelp"
                                    placeholder="Enter username"
                                    ,
                                    maxlength="16"
                                />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    id="inputPassword"
                                    placeholder="Password"
                                    maxlength="32"
                                />
                            </div>
                            <div class="form-group">
                                <label for="inputInviteCode">Invitation Code</label>
                                <input type="text" name="invite_code" class="form-control" id="inputInviteCode" placeholder="Invitation Code" />
                            </div>
                            <div class="w-100 d-flex justify-content-end">
                                <a class="text-muted" href="./login">Login</a>
                            </div>
                            <br />
                            <div class="w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-secondary w-50">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include("includes/scripts.ejs") %>

        <script>
            $(document).ready(function () {
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('err');
                $('#errorAlert').text(myParam);
            });
        </script>
    </body>
</html>
