<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>quantiom rat</title>
        <link href="../../bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../../bootstrap/cover.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <link href="../../css/style.css" rel="stylesheet">
        <script type="text/javascript">
            $(document).ready(function() {
                $("body").tooltip({ selector: '[data-toggle=tooltip]' });
            
                $(".hwidText").on('click', function(event){
                    const hwid = $(this).attr('data-original-title');
                });
            });
        </script>
      <style type="text/css">
    :root #content > #right > .dose > .dosesingle,
    :root #content > #center > .dose > .dosesingle
    { display: none !important; }</style></head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="container h-100">
                <div class="row h-85 justify-content-center align-items-center">
              <div class="container-fluid" style="margin-top:80px">
                <!-- Start -->
                  <h1>Clients</h1>
                  <p style="color:rgb(180, 180, 180);">Updated 5 seconds ago</p>
                <!-- End of Start -->
              </div>
              </div>
          </div>
          <br/>
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">HWID</th>
              <th scope="col">Last Username</th>
            </tr>
          </thead>
          <tbody>
            <% Object.keys(app.lastPings).forEach(hwid => { %>
            <tr>
              <td class="hwidText" data-toggle="tooltip" title="<%= hwid %>"><%= hwid.slice(0, 20) + '...' %></td>
              <td>123</td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        </div>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../bootstrap/tether.min.js.download" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../bootstrap/bootstrap.min.js.download"></script>
    <script src="../../bootstrap/ie10-viewport-bug-workaround.js.download"></script>
</body></html>